.App {
  text-align: center;
  justify-content: center;
  background-color: #8dcff9;
  height: 100vh;
  max-height: 100%;
}

.stroke1 {
  -webkit-text-stroke: 1px white;
}

.stroke2 {
  -webkit-text-stroke: px white;
}
